.menu-container {
  margin-bottom: 10px;
  width: 100%;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  outline: none; 
  -webkit-transform: translate(0%, 0%);
  -moz-transform: translate(0%, 0%);
  -ms-transform: translate(0%, 0%);
  -o-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
  -webkit-animation: shrink 2s linear;
  -moz-animation: shrink 2s linear;
  -o-animation: shrink 2s linear;
  animation: shrink 2s linear;

  .element {
    height: 5vh;

    img {
      position: relative;
      float: right;
      width: 10px;
      margin: 10 0 10 0;
      margin-top: 12px;
      margin-right: 10px;
    }

    .key {
      display: inline;
      position: relative;
      margin-top: 5px;
      margin-left: 10px;
      float: left;
      color: black;
    }
  }

}


@-webkit-keyframes shrink {
  0% {
    -webkit-transform: translate(100%, 0%) scale(1.2, 1.2);
    transform: translate(100%, 0%) scale(1.2, 1.2)
  }
}

@-moz-keyframes shrink {
  0% {
    -moz-transform: translate(100%, 0%) scale(1.2, 1.2);
    transform: translate(100%, 0%) scale(1.2, 1.2)
  }
}

@-o-keyframes shrink {
  0% {
    -o-transform: translate(100%, 0%) scale(1.2, 1.2);
    transform: translate(100%, 0%) scale(1.2, 1.2)
  }
}

@keyframes shrink {
  0% {
    -webkit-transform: translate(100%, 0%) scale(1.2, 1.2);
    -moz-transform: translate(100%, 0%) scale(1.2, 1.2);
    -o-transform: translate(100%, 0%) scale(1.2, 1.2);
    transform: translate(100%, 0%) scale(1.2, 1.2)
  }
}